<div class="container">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="panel panel-default panel-body">

            <div class="form-group">
                <label for="firstName">First Name</label>
                <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="Enter first name">
                <span class="help-block" *ngIf="!contactForm.get('firstName').valid && contactForm.get('firstName').touched ">Please enter valid first name</span>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Enter last name">
                <span class="help-block" *ngIf="!contactForm.get('lastName').valid && contactForm.get('lastName').touched ">Please valid last name email</span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email">
                <span class="help-block" *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched ">Please enter valid email</span>
            </div>
            <div class="form-group">
                <label for="primaryContact">Primary contact</label>
                <input formControlName="primaryContact" type="text" class="form-control" id="primaryContact" placeholder="Enter contact">
                <span class="help-block" *ngIf="!contactForm.get('primaryContact').valid && contactForm.get('primaryContact').touched ">Please enter valid primary contact</span>
            </div>
            <div class="form-group">    
                <label for="secondaryContact">Secondary contact</label>
                <input formControlName="secondaryContact" type="text" class="form-control" id="secondaryContact" placeholder="Enter contact">
                <span class="help-block" *ngIf="!contactForm.get('secondaryContact').valid && contactForm.get('secondaryContact').touched ">Please enter valid secondary contact</span>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea formControlName="address" roes="4" class="form-control" id="address" placeholder="Enter address"></textarea>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button type="submit" [disabled]="!contactForm.valid" class="btn btn-primary">Save</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-warning" (click)="onClear()">Clear Form</button>
                </div>
            </div>
        </div>
        </form>
</div>
